/* @override 
	file:///css/master.css
	http://localhost:3000/css/master.css
	http://localhost:8000/css/master.css
	http://localhost:6002/css/master.css
*/

/* @group Main */

/* @group Menu */

div#menu ul li a {
	color: black;
	margin: 0;
	padding: 2px;
	display: block;
	border-left: 3px solid white;
}

div#menu ul li a:active {
	color: white;
	border-left: 3px solid #000;
	background-color: black;
	text-decoration: none;
}

div#menu ul li a:hover {
	border-left: 3px solid #000;
}

#menu h1 {
	font-size: 123.1%;
	margin-top: 10px;
	margin-bottom: 2px;
	border-bottom: 1px solid #e1e1e1;
}

span#log_status {
	background-color: #e6e6e6;
	padding: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: block;
}



/* @end */

/* @group Controllers */

#main-content div.controllers div.controller ul li {
	display: block;
	list-style-type: disc;
	list-style-position: outside;
	margin: 3px;
	float: left;
	font-size: 77%;
}

#main-content div.controllers div.controller span {
	float: left;
	background-color: #606060;
	color: white;
	padding: 2px;
	margin: 0 0 0 7px;
}

#main-content div.controllers div.controller span span#tn {
	display: block;
	padding: 4px;
	font-size: 77%;
}

#main-content div.controllers div.controller span span#vsn {
	background-color: white;
	display: block;
	color: black;
	font-size: 77%;
	padding: 4px;
}

#main-content div.controllers div.controller ul {
	clear: left;
	display: none;
}

div#templates {
	display: none;
}

#main-content div.controllers div.controller {
	clear: left;
	display: table;
	margin-top: 10px;
}

#main-content div.controllers div.controller a {
	font-size: 123.1%;
	float: left;
	padding: 4px;
}



/* @end */

/* @group Experiment */

div.experiment {
	padding: 5px;
}

div.experiment ul {
	background-color: #eaeaea;
}

div.experiment ul li {
	padding-bottom: 2px;
	padding-left: 4px;
	padding-top: 2px;
	font-size: 87%;
	border-bottom: 1px solid #d4d4d4;
}

div.experiment ul:last-child li {
	background-color: #878a8a;
	color: white;
}

div.experiment ul:first-child li {
	background-color: #000;
	color: white;
	font-weight: bold;
	font-size: 110%;
}


/* @end */



/* @end */

/* @group Footer and header */

span#version {
	padding: 3px;
	background-color: white;
	color: black;
	font-size: 77%;
	margin: 0 0 0 10px;
}

div#hd {
	background-color: #334433;
	padding: 5px;
	font-size: 123.1%;
	color: white;
	margin-bottom: 10px;
	margin-top: 10px;
}

div#ft {
	clear: both;
	padding: 10px;
	text-align: center;
	font-size: 77%;
	color: #6699aa;
	margin-top: 50px;
}



/* @end */