*.un
*.swo
*.swp
*.beam
*/log/*
Code/webmachine/*
Code/apps/fs_web/logs/*
Code/apps/fs_web/deps/webmachine/.eunit/*
Code/apps/fs_web/deps/mochiweb/.eunit/*
Code/apps/fs_web/.eunit/*
Code/apps/fs_web/ebin/.*.beam
.eunit
hub_app/priv/log
app/priv/log
app/ebin/priv
app/erl_crash.dump
*/deps/*
deps/*
hub_app/rel/
