%%-*- mode: erlang -*-
{deps, [
  {mochiweb, "1\.7\.1", {hg, "http://hg.basho.com/mochiweb", "tip"}}, 
  {webmachine, "1\.7.*", {hg, "http://bitbucket.org/basho/webmachine", "tip"}},
  {erlymock, ".*", {git, "git://github.com/jdunphy/erlymock.git", "master"}}
]}.

%% Options for running the dialyzer, right now only `plt' is supported
{dialyzer_opts, []}.

%% Erlang compiler options
{erl_opts, [debug_info, {src_dirs, ["src"]}]}.


