%%-*- mode: erlang -*-
{fail_on_warning, true}.
{cover_enabled, true}.

{deps, [
  {webmachine, "1.7.3", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {erlymock, ".*", {git, "git://github.com/jdunphy/erlymock.git", "master"}}
  ]}.
% {deps, [
%   {deps, [{webmachine, "1.7.*", {git, "git://github.com/basho/webmachine", "HEAD"}}]}.
%   {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb"}},
%   {mochiweb, "1.7.1", {git, "git://github.com/basho/mochiweb", {tag, "mochiweb-1.7.1"}}},
%   {webmachine, "1.7.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
% ]}.
