%%-*- mode: erlang -*-
{fail_on_warning, true}.

{deps, [
  {webmachine, "1.7.3", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {erlymock, ".*", {git, "git://github.com/jdunphy/erlymock.git", "master"}}
]}.

{sub_dirs, [
            "../rel",
            "deps"
           ]}.
{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R14"}.
