<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"0>

    <title>Social Friend Finder : Demo</title>
    
  </head>

  <body>
    <div id="search_box">
      <input type="text" name="q" placeholder="My friends name" />
      <input type="submit" />
    </div>
    <div id="search_results">
      {{#results?}}
      <ul>
        {{results}}
        <li>
          {{name}}
        </li>
        {{/results}}
      </ul>
      {{/#results?}}
    </div>
  </body>
</html>
