%%-*- mode: erlang -*-
{deps, [
  {mochiweb, "1.7.1", {git, "git://github.com/basho/mochiweb", "HEAD"}},
  {erlymock, ".*", {git, "git://github.com/jdunphy/erlymock.git", "master"}},
  {webmachine, "1.7.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
]}.

%% Options for running the dialyzer, right now only `plt' is supported
{dialyzer_opts, []}.

%% Erlang compiler options
{erl_opts, [debug_info, {src_dirs, ["src"]}]}.

{sub_dirs, ["rel"]}.
